<header>
  <h1 class="site-heading text-center text-faded d-lg-block">
    <span class="site-heading-upper text-primary mb-3">Chegou a hora de comemoramos juntos!</span>
    <span class="site-heading-lower">Eduardo 10 anos</span>
  </h1>
</header>

<section class="page-section about-heading">
<div class="container">
  <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="assets/img/dudu.jpeg" alt="Convite do Dudu" />
  <div class="about-heading-content">
    <div class="row">
      <div class="col-xl-9 col-lg-10 mx-auto">
        <div class="bg-faded rounded p-5">
          <h2 class="section-heading mb-4">
            <span class="section-heading-lower">Confirme sua presença!</span>
          </h2>
          <p>Informe seu nome, telefone, seus acompanhantes e suas idades.</p>
          <div>
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="name" placeholder="">
              <label for="name">Seu Nome</label>
            </div>
            <div class="form-floating mb-3">
              <input type="number" class="form-control" id="phone" placeholder="">
              <label for="phone">Seu Telefone</label>
            </div>
            <div class="guests">
              <div class="input-group mb-3">
                <div class="form-floating mb-3 col-10">
                  <input type="text" class="form-control" id="guest" placeholder="">
                  <label for="guest">Nome do Acompanhante</label>
                </div>
                <span ></span>
                <div class="form-floating mb-3 col-2">
                  <input type="number" class="form-control" id="guestAge" placeholder="">
                  <label for="guestAge">Idade</label>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-success">Confirmar</button>
            <button class="btn btn-primary" type="button" disabled>
              <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Loading...
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<footer class="footer text-faded text-center py-5">
  <div class="container"><p class="m-0 small">Feito com ❤️ pelo papai <a href="https://www.linkedin.com/in/🤓-jefferson-alves-reis-00007361/">jefaokpta</a> 2022 </p></div>
</footer>
